

.accessibillity
{
    background-color: rgb(35,35,35);
}

.accessibillity-option
{
    background-color: transparent;
    color: white;
    border-bottom-color: white;
}

.accessibillity-option-a
{
    color: white;
    border-bottom-color: white;
}

nav
{
    background-color: rgba(0,0,0, 0.25);
}

.nav-links
{
    color:white;
}

.nav-logo-text
{
    color: white;
}

.accessibillity-option-textSize-message
{
    background-color: white;
}


.main-content-left-headline
{
    color: white;
}

.content-more-header
{
    background-color: white;
}

.content-more
{
    background-color: snow;
}


footer
{
    background-color: rgb(35,35,35);
}

.langauge-headline
{
    color: white;
}

.language-flag-wrapper
{
    color: white;
}