nav
{
    background-color: rgba(35,35,35,1);
}

.nav-logo-text
{
    color: #FFB833;
    /*border: 1px solid #FFB833;*/
    /*padding: 0px 10px;*/
}

.nav-links
{
    color:#FFB833;
    border: 1px solid #FFB833;
    padding: 0px 10px;
    margin-left: 25px;
}

.accessibillity
{
    background-color: black;
}

.accessibillity-option-textSize-message
{
    background-color: black;
    color: #FFB833;
}

.accessibillity-option
{
    background-color: transparent;
    color: #FFB833;
    border-bottom-color: #FFB833;
}

.accessibillity-option-a
{
    color: #FFB833;
    border-bottom-color: #FFB833;
}

.main-content-left-headline
{
    color: #FFB833;
    background-color: rgba(35,35,35,1);
    border: 2px solid #FFB833;
    padding: 10px;
}

.content-more-header
{
    color: #FFB833;
    background-color: rgba(35, 35, 35, 1);
    border-top-color: #FFB833;
    border-bottom-color: #FFB833;
}

.content-more
{
    color: #FFB833;
    background-color: rgba(35, 35, 35, 1);
}

.content-items
{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:#FFB833;
    text-align: center;
    font-weight: bold;
}

.hamburger-line
{
    background-color: #FFB833;
}

.langauge-headline
{
    color: #FFB833;
}

.language-flag-wrapper
{
    border: 1px solid #FFB833;
    padding: 0px 5px;
}

footer 
{
    background-color: black;
}

@media screen and (max-width: 687px)
{
    /*.nav-align { background-color: white; }*/
    .nav-links { 
        background-color: black;
        color: #FFB833; 
        border:none;
        border-bottom: 1px solid #FFB833;
        margin-left: 0px;
        padding: 20px;
    }
}

/* CONTRAST */

.language-flag-wrapper:focus, 
.language-flag-wrapper:hover, 
.accessibillity-option:hover,
.accessibillity-option-textSize:hover,
.nav-links:hover
{
    outline: #00f solid thick
}
