

.accessibillity
{
    background-color: rgb(35,35,35);
}

.accessibillity-option-a
{
    color: white;
}

nav
{
    background-color: rgba(0,0,0, 0.25);
}

.nav-links
{
    color:white;
}


.main-content-left-headline
{
    color: white;
}





footer
{
    background-color: rgb(35,35,35);
}