*{ font-family: Arial, Helvetica, sans-serif; }

body 
{ 
    margin: 0px; 
    /*background-image: url('./res/img/main-re.png');
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position-y: -200px;*/
}

.background-container
{
    position: absolute;
    z-index: -999;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.background-container-w
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.background-container-w-image
{   
    min-height: calc(100vh - 85px);
    height: auto;
    width: 100%;
    margin-top: -175px;
}


.accessibillity
{
    text-align: center;
    height: 40px;
}

.accessibillity-option
{
    cursor: pointer;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 0px 10px;
    padding: 10.5px;
    display: inline-flex;
    font-size: 14px;
}

.accessibillity-option-a
{
    display: inline-flex;
    margin: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    line-height: 39px;
}


nav {
    display: flex;
    width: 100%;   
}

#nav-left
{
    display: inline-block;
}

.nav-logo-w
{
    height:100px; display: flex; width:300px;
}

.nav-logo
{
    height: 80px;
    padding: 10px 0px;
    margin-left: 10px;
    display: inline-block;
}

.nav-logo-text
{
    display: inline-block; margin-top: auto; margin-bottom: auto; margin-left: 10px;
}

#nav-right
{
    height: 100px;
    margin-left: auto;
    margin-right: 50px;

}

.nav-align
{
    display: table-cell;
    vertical-align: middle;
    height: 100px;
}

.hamburger-button
{
    width: 50px;
    height: 50px;
    display: none;
    margin-top: 25px;
    padding-bottom: 20px;
}

.hamburger-line
{
    display: inline-block;
    height: 5px;
    width: 35px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}


.nav-links
{
    display: inline-block;
    text-decoration: none;
    margin-left: 50px;
    font-size: 24px;
    /*height: 100px;*/
}

.accessibillity-option-textSize
{
    display: inline-flex; margin: 0px 10px; text-decoration:none; 
}

.accessibillity-option-textSize-message
{
    display: none;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    font-size: 24px;
    position: absolute;
    top:40px;
    left: 50%;
}

.accessibillity-option-textSize:hover + .accessibillity-option-textSize-message, 
.accessibillity-option-textSize:focus + .accessibillity-option-textSize-message
{
    display: block;
}



/* [Index.html] */

.main-content
{
    display: flex;
    height: calc(100vh - 190px);
}

.main-content-left
{
    margin-top: 70px;
    margin-left: 200px;
    width: 450px;
}

.main-content-left-headline
{
    font-size: 54px;
}

.main-content-right
{
    height: 400px; width: 600px;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 300px;
}

.main-content-consept-art-solution
{
    width: 600px;
}

.content-more-header
{
    text-align: center;
    padding: 15px 0px;

    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.content-more
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-items
{
    padding-top: 25px;
    text-align: center;
    padding-bottom: 25px;
}

.content-items-three
{
    width: 300px; /*height: 300px;*/ display: inline-flex; margin: 0px 25px;
}

.content-items-three-img
{
    width: 200px;
    height: 200px;
    text-align: center;
}


.content-items-three-p
{
    padding-top: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    margin: 20px;
}


/* [Index.html - End] */

.footer-lang-a-p
{
    display: block; margin-top: auto; margin-bottom: auto; padding: 0px 5px;
}

.round-flags
{
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

footer
{
    padding: 0px 10px;
    /*position: absolute;
    top: calc(100vh - 75.5px);*/
}

.langauge-headline
{
    text-align: center;
}

.language-flag-wrapper
{
    display: inline-block;
    margin: 0px 20px;
    text-decoration: none;
}



@media screen and (max-width: 1500px)
{
    .background-container-w-image
    {   
        min-height: calc(100vh - 85px);
        height: 100%;
        width: auto;
        min-width: 100vw;
        margin-top: auto;
    }
    
    .main-content-consept-art-solution
    {
        width: 400px;
    }
    
}

@media screen and (max-width: 1000px)
{

    .main-content-left
    {
        margin-top: 50px;
        margin-left: 100px;
        width: 300px;
    }

    .main-content-right
    {
        margin-top: 250px;
    }

    .main-content-consept-art-solution
    {
        width: 300px;
    }
}

@media screen and (max-width: 890px)
{
    /* MAKE NAV MOBILE */
    .nav-logo-w { height: 70px; width: 200px; }
    .nav-logo { height: 50px; width: 50px; }
    .nav-logo-text { font-size: 18px;}

    #nav-right { height: auto; }
    .nav-align { height: 70px; }
    .nav-links-text { margin-top: 0px; margin-bottom: 0px; font-size: 18px; }

    .background-container-w-image
    {   
        margin-left: -10%;
    }

    .main-content-left-headline
    {
        font-size: 46px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
}

@media screen and (max-width: 750px)
{
    .background-container-w-image
    {   
        margin-left: -50%;
    }



    .main-content
    {
        display: block;
    }

    .main-content-left
    {
        margin-top: 70px;
        margin-right: auto;
        margin-left: auto;
        width: auto;
        text-align: center;
    }
    
    .main-content-right
    {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        text-align: center;
    }

    .accessibillity-option-textSize
    {
        display: none;
    }
    
    .nav-links { margin-left: 25px; }

}

@media screen and (max-width: 687px)
{
    .background-container-image
    {
        margin-left: -50%
    }
    /* MAKE NAV MOBILE */
    nav { display: block; z-index: 999; }
    #nav-right
    {
        margin-left: auto;
        margin-right: auto;
        
    }

    .hamburger-button
    {
        margin-left: auto;
        margin-right: 25px;
        margin-top: -70px;
        display: block;
    }

    .hamburger-button:hover { cursor: pointer;}
    .nav-align { z-index: 999; display: none; height: auto; width: 100%; text-align: center; }
    .nav-links { z-index: 999; display: block; margin-left: auto; padding-top: 5px; padding-bottom: 5px; border-bottom-style:  solid; border-bottom-width: 1px; }
    
    .content { z-index: -1; }

    .main-content
    {
        height: calc(100% - 233px);
    }

    .main-content-left-headline
    {
        font-size: 38px;
        margin-left: 20px;
        margin-right: 20px;
    }



}


