*{ font-family: Arial, Helvetica, sans-serif; }

body 
{ 
    margin: 0px; 
    /*background-image: url('./res/img/temp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -300px;*/
}

.accessibillity
{
    text-align: center;
    height: 40px;
}

.accessibillity-option
{
    background-color: lime;
    border: none;
    margin: 0px 10px;
    padding: 12.5px;
    display: inline-flex;
}

.accessibillity-option-a
{
    display: inline-flex;
    margin: 0px;
    line-height: 39px;
}


nav {
    display: flex;
    width: 100%;   
}

#nav-left
{
    display: inline-block;
}

.nav-logo
{
    height: 80px;
    padding: 10px 0px;
    margin-left: 10px;
    display: inline-block;
}

.nav-logo-text
{
    display: inline-block; margin-top: auto; margin-bottom: auto; margin-left: 10px;
}

#nav-right
{
    height: 100px;
    margin-left: auto;
    margin-right: 50px;

}

.nav-align
{
    display: table-cell;
    vertical-align: middle;
    height: 100px;
}



.nav-links
{
    display: inline-block;
    text-decoration: none;
    margin-left: 50px;
    font-size: 24px;
    /*height: 100px;*/
}


.main-content
{
    display: flex;
    height: calc(100vh - 190px);
}

.main-content-left
{
    margin-top: 70px;
    margin-left: 200px;
    width: 300px;
}

.main-content-right
{
    margin-left: auto;
    margin-right: 50px;
    margin-top: 100px;
}

.content-more-header
{
    text-align: center;
    padding: 15px 0px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.content-more
{
    padding-top: 20px;
}





.footer-lang-a-p
{
    display: inline-block; margin-top: auto; margin-bottom: auto; padding: 0px 5px;
}

.round-flags
{
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

footer
{
    padding: 0px 10px;
    /*position: absolute;
    top: calc(100vh - 75.5px);*/
}

.langauge-headline
{
    text-align: center;
}

.language-flag-wrapper
{
    display: inline-block;
    margin: 0px 20px;
}