*{ font-family: Arial, Helvetica, sans-serif; }

body 
{ 
    margin: 0px; 
    background-image: url('./res/img/temp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -300px;
}

.accessibillity
{
    text-align: center;
}

.accessibillity-option
{
    background-color: lime;
    border: none;
    padding: 10px;
}


nav {
    display: flex;
    width: 100vw;   
}

#nav-left
{
    display: inline-block;
}

.nav-logo
{
    height: 80px;
    padding: 10px 0px;
    margin-left: 10px;
}

#nav-right
{
    height: 100px;
    margin-left: auto;
    margin-right: 50px;

}

.nav-align
{
    display: table-cell;
    vertical-align: middle;
    height: 100px;
}



.nav-links
{
    display: inline-block;
    text-decoration: none;
    margin-left: 50px;
    font-size: 24px;
    /*height: 100px;*/
}



footer
{
    /*position: absolute;
    top: calc(100vh - 75.5px);*/
}