

.accessibillity
{
    background-color: rgb(35,35,35);
}

.accessibillity-option
{
    background-color: transparent;
    color: white;
    border-bottom-color: white;
}

.accessibillity-option-a
{
    color: white;
    border-bottom-color: white;
}

nav 
{
    border-bottom: 1px solid gray;
}

.nav-links
{
    color:black;
}

.nav-logo-text
{
    color: black;
}





.hamburger-line
{
    background-color: black;
}

.accessibillity-option-textSize-message
{
    background-color: white;
}