

.accessibillity
{
    background-color: rgb(35,35,35);
}

.accessibillity-option
{
    background-color: transparent;
    color: white;
    border-bottom-color: white;
}

.accessibillity-option-a
{
    color: white;
    border-bottom-color: white;
}

nav 
{
    border-bottom: 1px solid gray;
}

.nav-links
{
    color:black;
}

.nav-logo-text
{
    color: black;
}


.hamburger-line
{
    background-color: black;
}

.accessibillity-option-textSize-message
{
    background-color: white;
}

/* [Article grading colors] */

.c-behind1
{
    background-color: white;
}

.c-behind2
{
    background-color: #f7f7f7;
}

.c-behind3
{
    color: white;
    background-color: #477190;
}

.c-behind4
{
    color: white;
    background-color: #2B475A;
}

.link-buttons
{
    text-align: center;
    display: block;
    border-radius: 50px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    max-width: 100px;
    text-decoration: none;
}

.link-buttons:hover, .link-buttons:focus
{
    background-color: #477190;
    
}